<div class="bg-byzantime main-bg">
  <div class="pl-60"> <h3 class="p-4 text-light">Contact me</h3> </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="list-unstyled">
          <li class="pl-1 pt-3">
            <a href="https://www.linkedin.com/in/omololazainabafolabi/">
              <span class="icon pr-2 text-warning"><i class="fab fa-linkedin-in"></i></span>
              <span class="item text-light">Omolola Zainab Afolabi</span>
            </a>
          </li>
          <li class="pl-1 pt-3">

              <span class="icon pr-2 text-warning"><i class="fas fa-search-location"></i></span>
              <span class="item text-light">Bolton, United Kingdom</span>

          </li>
          <li class="pl-1 pt-3">

              <span class="icon pr-2 text-warning"><i class="fas fa-envelope"></i></span>
              <span class="item text-light"> <a class="text-decoration-none text-light" href="mailto:  zainab.o.afolabi@gmail.com "
                >zainab.o.afolabi@gmail.com</a></span>

          </li>
          <li class="pl-1 pt-3">

              <span class="icon pr-2 text-warning"><i class="fas fa-mobile-alt"></i></span>
              <span itemprop="telephone" class="item text-light"> <a class="text-decoration-none text-light" href="tel:+447823843022">+447823843022</a> </span>

          </li>
        </ul>
      </div>

        <div class="col">
          <form #contactForm="ngForm" (ngSubmit)="contactMe(contactForm)">
            <div class="form-group bg-brand">
              <input class="form-control " name="name" #name="ngModel"  type="text"
               placeholder="Your name" minlength="3" pattern="^[a-zA-Z]+$" ngModel required>
               <div [hidden]="(name.valid || name.pristine)" class="alert alert-danger">
                Name is required & it has to be 3 characters minimum!
              </div>
            </div>

            <pre></pre>

            <div class="form-group bg-brand">
              <input class="form-control" name="email" #email="ngModel"  type="email"
               placeholder="Your email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$"
                ngModel required>
                <div [hidden]="(email.valid || email.pristine)" class="alert alert-danger">Valid email address is required</div>
            </div>
            <pre></pre>

            <div class="form-group bg-brand">
              <input class="form-control" type="tel" name="phone" #phone="ngModel"
               placeholder="Your phone number" minlength="11" maxlength="14"
                ngModel required>
                <div [hidden]="(phone.valid || phone.pristine)" class="alert alert-danger">Valid phone number is required</div>

            </div>
            <pre></pre>

            <div class="form-group bg-brand">
              <textarea rows="8" column="33" class="form-control" name="message" #message="ngModel"
               placeholder="Type your message here ..." ngModel minlength="3" maxlength="500" required></textarea>
               <div [hidden]="(message.valid || message.pristine)" class="alert alert-danger">Message with at least 3 characters is required</div>

            </div>

            <pre></pre>

            <div class="form-group ">
              <button [disabled]="!(contactForm.valid && contactForm.dirty) "
              class=" btn btn-brand btn-lge btn-warning" type="submit">Send</button>
            </div>
          </form>


      </div>
    </div>

  </div>


</div>
