a{
  text-decoration: none;
  /* color: azure; */
}

.list-unstyled{
  list-style: none;
text-decoration: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.alert-danger{
  background-color: #ff4040;
}

.alert{
  color: white;
  margin-bottom: 15px;
  text-align: left;
}

.pr-2{
  padding-right: 2rem;
}

li,h3{
  line-height: 30px;
}

h3{
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.bg-byzantime{
  /* background-color: #702963; */
  background-color: #301934;
  height: 580px;
}
.pl-60{
  padding-left: 100px;
}


.btn-brand{
  width: 250px;
  height: 50px;
}

.bg-brand{
  background-color: #32174d;
}


.main-bg{
  height: 650px;
}


/* Smartphone Screen */
@media (min-width:320px) and (max-width:500px){
  .responsive{
    width: 100%;
  }
  .main-bg{
    height: 850px;
  }
}

