<div style="height: 250px;"  class="bg-light text-center">
  <div class="container p-4">

    <span class="p-4 "><a href="https://www.linkedin.com/in/OmololaZainabAfolabi/">About</a></span>
    <span class="p-4"><a routerLink="https://github.com/ZAINABAFOLABI">Reviews</a></span>
    <span class="p-4"><a routerLink="zainab.o.afolabi@gmail.com">Works</a></span>
    <span class="p-4"><a routerLink="/portfolio">Resume</a></span>
  </div>
  <pre></pre>
  <h3 > <span class="text-brand text-larger lg-height">
     Developed by <span class="text-rusian-violet ">Omolola Zainab Afolabi | MSc Software Engineering (Distinction), University of Bolton, United Kingdom </span>  </span>
     &COPY; 2023, All Rights Reserved.</h3>
</div>
