.bg-rusian-violet{
  background-color: #800080;
}

.text-rusian-violet{
  color: #301934;
}
a{
  text-decoration: none;
  color: #301934;
}

a:hover{
  padding: 20px;
  background-color: #FFC300;
}

h3{
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.9rem;
}




