<div style="height: 250px;"  class="bg-brand text-center">
  <div class="container p-4">

    <span class="p-4 "><a target=”_blank” href="https://www.linkedin.com/in/OmololaZainabAfolabi/">About</a></span>
    <!-- <span class="p-4"><a routerLink="https://github.com/ZAINABAFOLABI">Reviews</a></span> -->
    <span class="p-4"><a target=”_blank” routerLink="/oza-portfolio">Works</a></span>
    <span class="p-4"><a target=”_blank” [href]="CV" download="CV" > Resume</a></span>
  </div>
  <pre></pre>
  <h3 > <span class="text-brand text-larger lg-height">
     Developed by <span class="text-rusian-violet ">Omolola Zainab Afolabi | MSc Software Engineering (Distinction), University of Bolton, United Kingdom </span>  </span>
     &COPY; 2024, All Rights Reserved.</h3>
</div>
