<div class="text-center">
    <h4 class="text-danger p-3 text-center font-large "> Recommendations</h4>
    <div class="  row ">
      <div class="col bg-lilac h-review p-3">
        <i class="fas fa-quote-right fa-3x text-danger py-3"></i>
        <h3 class="font-medium text-rusian-violet">Francis Morrissey| Senior Lecturer Computing University of Bolton</h3>
        <p class="font-monospace text-center  text-rusian-violet py-2">
         Zainab is an excellent communicator, great at agile methodologies, highly skilled at managing cross-functional teams and delivering value-riched software products.
        </p>
      </div>

      <div class="col bg-lilac h-review p-3">
        <i class="fas fa-quote-right fa-3x text-danger py-3"></i>
        <h3 class="font-medium text-rusian-violet">Seun Meshileya| Chief Technical Officer Grupp</h3>
        <p class="font-monospace text-rusian-violet py-2 text-center">
          A swift voracious learner, managing the Mikroafrica support dashboard seamlessly, a great teamplayer and an asset.
        </p>
      </div>

      <div class="col bg-lilac h-review p-3">
        <i class="fas fa-quote-right fa-3x text-danger py-3"></i>
        <h3 class="font-medium text-rusian-violet">Deborah Dada|Product Designer AirSmart Inc</h3>
        <p class="font-monospace text-rusian-violet py-2 text-center">
         A model in all ramifications from technical proficiency to healthy work relationships, so professional yet empathetic!
        </p>
      </div>


    </div>

  </div>
