.main-bg{
  height: 700px;
}

.bg-byzantine{
  background-color: #301934;
}

.pt-4 {
  padding-top: 110px;
}

.pt-50{
  padding-top: 100px;
}

.font-bold{
  font-weight: 600;
}

h3{
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.4rem;
}

.text-brand-1{
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* color:#fff0db; */
}

.text-orange{
  color: orangered;
}

.text-green{
  color: lime;
}

.text-cobalt{
  color: #1c49cf;
}

.text-blue{
  color: #F4C430;
}

.text-brand{
  color:#E30B5C;
}



.bg-coral{
  background-color: #C70039  ;
}

.text-brand-2{
  /* color:#fff0db; */
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-height{
  height: 90px;
}

.font-brand{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: 600;
}

.pl-10{
  padding-left: 350px;
}



.pl-40{
  padding-left: 50px;
}

.pr-8{
 padding-right: 240px;
}
.pt-40{
  padding-top: 40px;
}

.mr-10{
  margin-right: 5rem;
}

.mr-2{
  margin-right: 2rem;
}

.mr-1{
  margin-right: 1rem;
}

a:hover{
  padding: 15px;
  /* background-color: #FFC300; */
  background: 	#352139;
  color:  #C70039 ;
}

.text-brand-3{
color: #eed9c4;
font-size: 45px;
}

.mb-4{
  margin-bottom: 100px;
}


/* Smartphone Screen */
@media (min-width:320px) and (max-width:500px){
  .responsive{
    width: 100%;
  }
  .main-bg{
    height: 1200px;
  }

  .bg-byzantine{
    background-color: #301934;
    height: 1200px;
  }

  .text-brand-1{
    font-size: 20px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* color:#fff0db; */
  }

  .pl-40{
    padding-left: 40px;
  }

  .pt-50{
    padding-top: 25px;
  }

  .pr-8{
    padding-right: 20px;
   }

   .img-property{
    width: 100px;
    height: 100px;
   }

   .mb-4{
    margin-bottom: 40px;
  }
}


