/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-brand{
  background-color: 	#fff0db;
}

.text-rusian-violet{
  color: #301934;
}

.bg-byzantime{
  background-color: #301934;
}
