/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-brand{
  background-color: 	#fff0db;
  /* background-color: 	#FFE5B4; */
}

.text-rusian-violet{
  color: #301934;
}

.font-medium{
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.bg-byzantime{
  background-color: #301934;
}
