<div class="main-bg">
  <div class="sub-bg ">
    <div class="container" >
      <!-- <h2 class="text-light">Portfolio  </h2> -->
      <span class="text-warning font-medium py-2"><a routerLink="/"><i class="fas fa-arrow-left  text-warning pr-1"></i></a>Some exciting projects!</span>
      <br><br>
      <section id="features mb-3 font-verdana">

        <div  class="box bg-pivo mx-3 py-3">
          <div class=" ">
             <!-- <img width="60px" src="https://pivo.africa/assets/images/logo-image.png" alt=""> -->
            <h3 style="height: 50px;" class="text-light">Pivo Financial Services</h3>
            <p style="height:325px" class="text-dark text-center text-height bg-light p-4">
           A financial technology website development project boasting of an inclusive finance platform for your supply chain SME or ecosystem <br>
               featuring accounts, expense management, bill payments, bulk payments product offerings! <br>
               <a class="" href="https://pivo.africa/#/"><button class="btn btn-lg btn-warning p-1">Learn more ...</button></a>

               </p>

          </div>
        </div>

        <div  class="box mx-3 bg-kelle py-3 ">
          <div>
            <h3 style="height: 50px;" class="text-light">Kelle</h3>
            <p style="height:325px" class="text-dark text-center text-height bg-light p-4">
             Leading a cross-functional team as Senior product manager and lead trainer, developing
             frontend technical skills upskilling roadmap & strategies for premier trainee cohorts.
            From beginner to advanced frontend Angular developer upskilling platform.
        <a href="https://trello.com/b/Oh2brumG/kelle-frontend-dev">

        <button class="btn btn-lg btn-warning p-1">Learn more ...</button></a>
            </p>
          </div>
          <!-- <i class="fas fa-seedling fa-2x round-padding text-light"></i> -->

      </div>



        <div class="box mx-3 bg-green py-3">
          <div >
            <h3 style="height: 50px;" class="text-light text-center text-height">Health Max</h3>
            <p style="height:325px" class="text-dark bg-light p-4">
           Website developmet of HMO: Inclusive unparalled medicare services in 3 easy steps! <br>
              <a href="https://health-max-hmo.firebaseapp.com/home"><button class="btn btn-lg btn-warning p-1">Learn more ...</button></a>
                 </p>
          </div>

            <!-- <i class="fas fa-h-square  fa-3x text-success-gradient"></i> -->



        </div>

        <div style="margin-top: 70px;" class="box mx-3 bg-alpha py-3 ">
            <div>
              <h3 style="height: 50px;" class="text-light text-center text-height">Alpha App</h3>
              <p style="height:325px" class="text-dark bg-light p-4">
               Obtain foods budget performance analysis at its best. <br><br>
          <a href="https://alphaapp-16065.firebaseapp.com/login">

          <button class="btn btn-lg btn-warning p-1">Learn more ...</button></a>
              </p>
            </div>
            <!-- <i class="fas fa-seedling fa-2x round-padding text-light"></i> -->

        </div>
<br><br><br>



<!--
        <div class="box bg-light">
          <a href=""><i class="fas fa-clipboard-list fa-3x text-purple"></i></a>
          <h3>TODO!</h3>
          <p>
           Stay organized, plan your activities, get reminders & be on track!
          </p>
        </div> -->
        <!-- <div class="clear"></div> -->

        <!-- <div class="box bg-light">
          <a href=""><i class="fas fa-home fa-3x text-danger"></i></a>
          <h3>Jendoll</h3>
          <p>
           Have mortgage plans? purchase or rent a comfy apartment of choice.
          </p>
        </div> -->


      </section>
<br><br>


    </div>
  </div>
</div>
<zainab-footer></zainab-footer>
